@model IEnumerable<BeautySalonBooking.Models.Booking>
@{
    ViewData["Title"] = "Bookings";
}

<h2>Bookings</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Service</th>
            <th>Customer</th>
            <th>Date</th>
            <th>Comment</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>@item.Service?.ServiceName</td>
        <td>@item.FirstName @item.LastName</td>
        <td>@item.Date.ToString("yyyy-MM-dd HH:mm")</td>
         <td>@item.Comment</td>
        <td>
            <a asp-controller="Booking" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
            <a asp-controller="Booking" asp-controller="Booking" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>
